site/actor.php
site/actorphotos.php
site/doTask.php
site/gtnet.txt
site/gtru.txt
site/index.php
site/lazy.js
site/main.py
site/style.css
site/test.jpg
site/test1.jpg
site/test2.jpg
site/test3.jpg
site/tmp_img.jpg
site/updater.php
site/image/*
.gitignore
.gitignore
