
.center-div  {
    margin: 0 auto; 
    margin-top: 5%;
    width: 200px;
    font-weight: bolder;
}

span  {
    margin-left: 20px;
}

h2 {
    margin-top: 20%;
    text-align: center;

}

a, button {
    font-weight: bolder;
}


body {
    text-size-adjust: inherit;
    background-image: url("image.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    font-weight: bolder;
}