
table {
    border-collapse: collapse;
    align-content: center;
}

caption {

    border-width:1px; 
    border-style:solid; 
    border-color:black;
    padding: 5px;
}

td , tr, th {
            
            border-width:1px; 
            border-style:solid; 
            border-color:black;
            padding: 5px;

}

.exo4 {

    align-content: center;
}